header,
footer {
  background: #232f3e;
}
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}
footer {
  padding: 15px 0px;
}
footer p {
  color: #fff;
  font-size: 12px;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
a:hover h4 {
  color: #e76d0c;
}
.navbar-brand h4 {
  color: #fff;
}

a.nav-link.button {
  border-color: #e76d0c #e15500 #e15500;
  padding: 5px 20px;
  color: #fff;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.05) 0 1px 0;
  background-color: #ec7211;
  background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
}
.nav-links a {
  color: #fff;
}
