ul.sidebar-list {
  margin-left: 0px;
  padding-left: 0px;
}
ul.sidebar-list svg {
  color: #e45a03;
  margin-top: 5px;
  margin-right: 10px;
}
ul.sidebar-list a {
  color: #222;
}
.sidebar-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.sidebar-categories {
  border: 1px solid #eaeaea;
  padding: 10px 10px 0px;
  border-radius: 10px;
}
.sidebar-tags {
  border: 1px solid #eaeaea;
  padding: 10px 10px 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.sidebar-list li:last-child {
  border: none;
}
h5.rightbar-title {
  font-size: 16px;
}
.sidebar-tags a:hover{
  color: #e45a03;
}
.sidebar-categories a:hover{
  color: #e45a03;
}